<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<div class="container mt-4" style="background: #f9f9f9; padding: 20px; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <h2 style="text-align: center; color: #4b79a1; font-weight: bold;">Data Murid</h2>

  <!-- Tombol untuk membuka modal -->
  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#tambahMuridModal">
    <i class="bi bi-person-plus-fill"></i> Tambah Murid
  </button>

  <!-- Input Pencarian dengan Icon -->
  <div class="d-flex justify-content-end mb-3">
    <div class="input-group" style="width: 200px;">
      <input type="text" class="form-control" placeholder="Cari Nama Murid..." [(ngModel)]="searchTerm"
        (input)="filterMurid()" />
      <span class="input-group-text">
        <i class="bi bi-search"></i>
      </span>
    </div>
  </div>

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Modal Tambah Fakultas -->
  <div class="modal fade" id="tambahMuridModal" tabindex="-1" aria-labelledby="tambahMuridLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tambahMuridModalLabel">
            Tambah Murid
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="muridForm" (ngSubmit)="addMurid()">
            <div class="mb-3">
              <label for="nama" class="form-label">Nama Murid</label>
              <input id="nama" type="text" class="form-control" formControlName="nama" />
            </div>
            <div class="mb-3">
              <label for="alamat" class="form-label">Alamat</label>
              <input id="alamat" type="text" class="form-control" formControlName="alamat" />
            </div>
            <div class="mb-3">
              <label for="kelas" class="form-label">Kelas</label>
              <input id="kelas" type="text" class="form-control" formControlName="kelas" />
            </div>
            <div class="mb-3">
              <label for="no_hp" class="form-label">No Telepon</label>
              <input id="no_hp" type="text" class="form-control" formControlName="no_hp" />
            </div>

            <div class="mb-3">
              <label for="no_hpOrtu" class="form-label">No Telepon Orang Tua</label>
              <input id="no_hpOrtu" type="text" class="form-control" formControlName="no_hpOrtu" />
            </div>
            <div class="mb-3">
              <label for="asal_sekolah" class="form-label">Asal Sekolah</label>
              <input id="asal_sekolah" type="text" class="form-control" formControlName="asal_sekolah" />
            </div>
            <div class="mb-3">
              <!-- Dropdown untuk memilih fakultas -->
              <label for="jenisbimbel" class="form-label">Jenis Bimbel</label>
              <select id="jenisbimbel" class="form-select" formControlName="jenisbimbel_id">
                <option *ngFor="let jenisbimbel of jenisbimbel" [value]="jenisbimbel._id">
                  {{ jenisbimbel.singkatan }}
                </option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
              {{ isSubmitting ? "Menyimpan..." : "Tambah Murid" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

   <!-- Modal Edit Prodi -->
   <div
   class="modal"
   *ngIf="isEditModalVisible"
   style="display: block; background: rgba(0, 0, 0, 0.5)"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="editMuridModalLabel">
           Ubah Data Murid
         </h5>
         <button
           type="button"
           class="btn-close"
           (click)=" isEditModalVisible = false"
           aria-label="Close"
         ></button>
       </div>
       <div class="modal-body">
         <form [formGroup]="muridForm" (ngSubmit)="updateMurid()">
           <div class="mb-3">
             <label for="editNama" class="form-label">Nama</label>
             <input
               id="editNama"
               type="text"
               class="form-control"
               formControlName="nama"
             />
           </div>
           <div class="mb-3">
             <label for="editAlamat" class="form-label">Alamat</label>
             <input
               id="editAlamat"
               type="text"
               class="form-control"
               formControlName="alamat"
             />
           </div>
           <div class="mb-3">
             <label for="editKelas" class="form-label">Kelas</label>
             <input
               id="editKelas"
               type="text"
               class="form-control"
               formControlName="kelas"
             />
           </div>
           <div class="mb-3">
             <label for="editno_hp" class="form-label">No Telepon</label>
             <input
               id="editno_hp"
               type="text"
               class="form-control"
               formControlName="no_hp"
             />
           </div>
           <div class="mb-3">
             <label for="editno_hpOrtu" class="form-label">No Telepon Orang Tua</label>
             <input
               id="editno_hpOrtu"
               type="text"
               class="form-control"
               formControlName="no_hpOrtu"
             />
           </div>
           <div class="mb-3">
             <label for="editasal_sekolah" class="form-label">Asal Sekolah</label>
             <input
               id="editasal_sekolah"
               type="text"
               class="form-control"
               formControlName="asal_sekolah"
             />
           </div>
           <div class="mb-3">
             <label for="editJenisbimbel" class="form-label">Jenis Bimbel</label>
             <select
               id="editJenisbimbel"
               class="form-select"
               formControlName="jenisbimbel_id"
             >
               <option
                 *ngFor="let jenisbimbel of jenisbimbel"
                 [value]="jenisbimbel._id"
               >
                 {{ jenisbimbel.singkatan }}
               </option>
             </select>
           </div>
           <button
             type="submit"
             class="btn btn-primary"
             [disabled]="isSubmitting"
           >
             {{ isSubmitting ? "Menyimpan..." : "Ubah Data Murid" }}
           </button>
         </form>
       </div>
     </div>
   </div>
 </div>

  <!-- Jika data fakultas tersedia, tampilkan tabel -->
  <div *ngIf="murid.length > 0">
    <!-- Membuat tabel untuk menampilkan data fakultas -->
    <table class="table table-bordered">
      <thead>
        <tr>
          <!-- Header tabel -->
          <th>No</th> <!-- Nomor urut -->
          <th>Nama</th> <!-- Nama fakultas -->
          <th>Alamat</th> <!-- Singkatan nama fakultas -->
          <th>Kelas</th> <!-- Singkatan nama fakultas -->
          <th>No Telepon</th> <!-- Singkatan nama fakultas -->
          <th>No Telepon Orang Tua</th> <!-- Singkatan nama fakultas -->
          <th>Asal Sekolah</th> <!-- Singkatan nama fakultas -->
          <th>Jenis Bimbel</th> <!-- Singkatan nama fakultas -->
          <th>Aksi</th> <!-- Singkatan nama fakultas -->
        </tr>
      </thead>
      <tbody>
        <!-- Looping data fakultas menggunakan directive *ngFor -->
        <!-- Data difilter dengan pipe paginate untuk membatasi jumlah data per halaman -->
        <tr *ngFor="let item of filteredMurid | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }; index as i">
          <!-- Menampilkan nomor urut berdasarkan halaman saat ini -->
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <!-- Menampilkan nama fakultas -->
          <td>{{ item.nama }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.alamat }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.kelas }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.no_hp }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.no_hpOrtu }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.asal_sekolah }}</td>
          <!-- Menampilkan singkatan fakultas -->
          <td>{{ item.jenisbimbel_id?.nama }}</td>
          <td>
            <!-- Tombol Edit -->
            <button type="button" class="btn btn-warning btn-sm me-2" (click)="getMuridById(item._id)"
              title="Ubah Data Murid">
              Edit
            </button>

            <button
            type="button"
            class="btn btn-danger btn-sm"
            style="background-color: #dc3545; border: none; color: white; padding: 5px 10px; border-radius: 5px; font-size: 14px;"
            (click)="deleteMurid(item._id)"
            title="Hapus Murid">
            <i class="bi bi-trash"></i> Hapus
          </button>

          </td>
        </tr>
      </tbody>
    </table>

    <!-- Kontrol Pagination -->
    <!-- pagination-controls adalah komponen bawaan dari ngx-pagination -->
    <!-- Ketika halaman berubah, properti currentPage diperbarui -->
    <pagination-controls (pageChange)="currentPage = $event">
    </pagination-controls>
  </div>
