<div class="container mt-4">
  <h2>Pembayaran</h2>

  <!-- Loader -->
  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Tombol untuk membuka modal -->
  <button *ngIf="userRole === 'user'"type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#tambahPembayaranModal">
    Upload Bukti Pembayaran
  </button>

  <!-- Input Pencarian dengan Icon -->
  <div class="d-flex justify-content-end mb-3">
    <div class="input-group" style="width: 200px;">
   <input
     type="text"
     class="form-control"
     placeholder="Cari Nama Murid..."
     [(ngModel)]="searchTerm"
     (input)="filterPembayaran()"
   />
   <span class="input-group-text">
     <i class="bi bi-search"></i>
   </span>
 </div>
</div>

  <!-- Modal Tambah Fakultas -->
  <div class="modal fade" id="tambahPembayaranModal" tabindex="-1" aria-labelledby="tambahPembayaranModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tambahPembayaranModalLabel">
            Upload Bukti Pembayaran
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="pembayaranForm" (ngSubmit)="addPembayaran()">
            <div class="mb-3">
              <label for="namaMurid" class="form-label">Nama Murid</label>
              <input id="namaMurid" type="text" class="form-control" formControlName="namaMurid" />
            </div>
            <div class="mb-3">
              <label for="tgl_pembayaran" class="form-label">Tanggal Pembayaran</label>
              <input id="tgl_pembayaran" type="text" class="form-control" formControlName="tgl_pembayaran" />
            </div>
            <div class="mb-3">
              <label for="pembayaran_bln" class="form-label">Pembayaran Bulan</label>
              <input id="pembayaran_bln" type="text" class="form-control" formControlName="pembayaran_bln" />
            </div>
            <div class="mb-3">
              <label for="jml_transaksi" class="form-label">Jumlah Transaksi</label>
              <input id="jml_transaksi" type="text" class="form-control" formControlName="jml_transaksi" />
            </div>
            <div class="mb-3">
              <label for="no_rek" class="form-label">No Rekening</label>
              <input id="no_rek" type="text" class="form-control" formControlName="no_rek" />
            </div>
            <td *ngIf="userRole === 'admin'">
              <select id="validasi" class="form-select" formControlName="validasi">
                <option [value]="null">-</option>
                <option value="Y">YA</option>
                <option value="T">TIDAK</option>
              </select>
            </td>

            <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
              {{ isSubmitting ? "Menyimpan..." : "Upload Bukti Pembayaran" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Edit Pembayaran -->
  <div class="modal" *ngIf="isEditModalVisible" style="display: block; background: rgba(0, 0, 0, 0.5)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPembayaranModalLabel">
            Ubah Data Pembayaran
          </h5>
          <button type="button" class="btn-close" (click)=" isEditModalVisible = false" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="pembayaranForm" (ngSubmit)="updatePembayaran()">
            <div class="mb-3">
              <label for="namaMurid" class="form-label">Nama Murid</label>
              <input id="namaMurid" type="text" class="form-control" formControlName="namaMurid" />
            </div>
            <div class="mb-3">
              <label for="tgl_pembayaran" class="form-label">Tanggal</label>
              <input id="tgl_pembayaran" type="text" class="form-control" formControlName="tgl_pembayaran" />
            </div>
            <div class="mb-3">
              <label for="pembayaran_bln" class="form-label">Pembayaran Bulan</label>
              <input id="pembayaran_bln" type="text" class="form-control" formControlName="pembayaran_bln" />
            </div>
            <div class="mb-3">
              <label for="jml_transaksi" class="form-label">Jumlah Transaksi</label>
              <input id="jml_transaksi" type="text" class="form-control" formControlName="jml_transaksi" />
            </div>
            <div class="mb-3">
              <label for="no_rek" class="form-label">No Rekening</label>
              <input id="no_rek" type="text" class="form-control" formControlName="no_rek" />
            </div>
            <td *ngIf="userRole === 'admin'">
              <select id="validasi" class="form-select" formControlName="validasi">
                <option [value]="null">-</option>
                <option value="Y">YA</option>
                <option value="T">TIDAK</option>
              </select>
            </td>
            <button type="submit" class="btn btn-primary" [disabled]="isSubmitting">
              {{ isSubmitting ? "Menyimpan..." : "Upload Bukti Pembayaran" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Data Fakultas -->
  <table class="table table-bordered table-striped" *ngIf="!isLoading">
    <thead>
      <tr>
        <th>Nama Murid</th>
        <th>Tanggal</th>
        <th>Pembayaran Bulan</th>
        <th>Jumlah Transaksi</th>
        <th>No Rekening</th>
        <th>Validasi</th>
        <th *ngIf="userRole === 'admin'">Hasil Validasi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredPembayaran">
        <td>{{ item.namaMurid }}</td>
        <td>{{ item.tgl_pembayaran }}</td>
        <td>{{ item.pembayaran_bln }}</td>
        <td>{{ item.jml_transaksi }}</td>
        <td>{{ item.no_rek }}</td>
        <td *ngIf="userRole !== 'admin'">
          {{ item.validasi === 'Y' ? 'YA' : item.validasi === 'T' ? 'TIDAK' : '' }}
        </td>
        <td *ngIf="userRole === 'admin'">
          <!-- Menampilkan hasil validasi -->
          {{ item.validasi === 'Y' ? 'Valid' : item.validasi === 'T' ? 'Tidak Valid' : 'Belum Divalidasi' }}
        </td>
        <td>
          <!-- Tombol Edit -->
          <button *ngIf="userRole === 'admin' "type="button" class="btn btn-warning btn-sm me-2" (click)="getPembayaranById(item._id)"
            title="Ubah Data Pembayaran">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
